# Production (.env) - Dokploy Secrets olarak girin. Bu dosya örnektir.

# Genel
SPRING_PROFILES_ACTIVE=prod
JWT_SECRET=CHANGE_ME_LONG_RANDOM

# Config/Eureka
CONFIG_URI=http://config-server:8888
EUREKA_URI=http://discovery-server:8761/eureka
EUREKA_HOSTNAME=discovery-server

# RabbitMQ
RABBITMQ_USER=marketplace_admin
RABBITMQ_PASSWORD=CHANGE_ME_STRONG

# PostgreSQL password'ları (servis bazlı)
AUTH_DB_PASSWORD=CHANGE_ME
USER_DB_PASSWORD=CHANGE_ME
PRODUCT_DB_PASSWORD=CHANGE_ME
CART_DB_PASSWORD=CHANGE_ME
ORDER_DB_PASSWORD=CHANGE_ME
PAYMENT_DB_PASSWORD=CHANGE_ME
NOTIFICATION_DB_PASSWORD=CHANGE_ME
STOCK_DB_PASSWORD=CHANGE_ME

# iyzico
IYZICO_API_KEY=CHANGE_ME
IYZICO_SECRET_KEY=CHANGE_ME
IYZICO_BASE_URL=https://sandbox-api.iyzipay.com

# SMTP (Gmail App Password)
MAIL_USERNAME=saforyecommerce@gmail.com
MAIL_PASSWORD=CHANGE_ME_APP_PASSWORD
MAIL_FROM_NAME=Safory Ecommerce

# RabbitMQ management panel (opsiyonel)
RABBITMQ_MANAGEMENT_PORT=15672

